<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Gestion de cabinet médical</a>
      <a>{{loginservice.loggedUser}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a *ngIf="loginservice.isAdmin()" class="nav-link active" aria-current="page"routerLink="add-patient">Add patient</a>
          <a class="nav-link" href="#">Gestion des Patients</a>
          <a class="nav-link" routerLink="add-patient">Add Patient </a>
          
          <li class="nav-item dropdown">  
            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" routerLink="prise-rendez-vous">Prise de rendez-vous</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a  class="dropdown-item" href="#" >modifier</a></li>
              <li><a class="dropdown-item" routerLink="liste-rendez-vous" >lister</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >supprimer</a></li>
            </ul>
          </li>
          <a class="nav-link" href="#" routerLink="medecins">Gestion médecins</a>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              connexion
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a  *ngIf="loginservice.isLoggedIn"class="dropdown-item" routerLink="login">login</a></li>
              <li><a   *ngIf="loginservice.isLoggedIn" class="dropdown-item" href="#" (click)="loginservice.logout">logout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="register">Register</a></li>
            </ul>
          </li>
          <a class="nav-link disabled"></a>
        </div>
      </div>
    </div>
  </nav>



<router-outlet></router-outlet>
<!---<app-list-patient></app-list-patient>--->

